body{
    font-family: Arial, Helvetica, sans-serif;
}
#input{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #5f9341;
}
button{
    margin-top: 6px;
    width: 120px;
    padding:10px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border:1px solid  #5f9341; 
    border-radius: 1px;
}
#dlt-btn{
    background-color: white;
    color: #5f9341;
}
a{
    color:#5f9341;

}
li{
    margin-top: 4px;
}
